# Entorno virtual Python
venv/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.pidb.meta
*.pdb.meta
*.mdb.meta
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
.DS_Store
*.apk
*.aab
*.unitypackage
crashlytics-build.properties
Assets/AssetStoreTools*

# JetBrains
.idea/

runs/
Training_DataSet_v1_YOLOv11/
venv/
*.pt
*.avi
best.onnx